.buttonConcentration {
	border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

#buttonMana {
	background-color: #2196F3;
}

#buttonMana:hover {
	background: #0b7dda;
}

#buttonCutFocusGems {
	background-color: #e7e7e7; 
	color: black;
}

#buttonCutFocusGems:hover {
	background: #ddd;
}
